*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    font-family: 'Roboto' ,sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dskt-viwer{
    width: 108rem;
}

.container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
}



header {
    grid-area: header;
    background: url('/img/banner1.png')no-repeat;
    background-size: cover;
    height: 55rem;
}

#menu{
    display:flex;
    justify-content: space-between;
    background: #000;
    height: 5rem;
}


#menu #listMenu{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

#menu #listMenu li{
    display: inline;
    margin-left: 2rem;
    color: #F6F3F3;
    font-size: 1.4rem;
    list-style: none;
}

#menu #listMenu li:hover{
    color: cyan;
    border-bottom: solid .1rem cyan;
}

#menu #listMenu a{
    text-decoration: none;
}

#btnMenu{
    display: none;
}

#text{
    width: 45rem;
    color: #F6F3F3;
    padding: 1rem;

    margin: 5rem;
}

#text h1{
    font-size: 3.8rem;
    margin-bottom: 2rem;
}

#text span {
    color: #AB1313;
}

#text p{
    font-size: 1.6rem;
    margin-bottom: 4rem;
}

#btn-cadastro{
    border: none;
    background: #058a01;
    width: 13rem;
    height: 3.2rem;

    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

#btn-cadastro a{
    font-size: 1.2rem;
    color: #F6F3F3;
    text-decoration: none;

}


main{
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.about{
    display: flex;
    gap: 1.5rem;
}

#text-about{
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.about #text-about h3{
    font-size: 2.4rem;
    color: #000;
    margin: 1.2rem 0;
}

.about #text-about p{
    font-size: 1.6rem;
    text-align: justify;
}

.adv-dskt{
    display: flex;
    gap: .2rem;
    margin-top: .5rem;
}

.advantage .adv-divs{
    background: #1F1F1F;
    display:flex;
    flex-direction: column;
    padding: .4rem 1.2rem;
    justify-content: center;
    align-items: center;
    height: 17rem;
}

.advantage .adv-divs img{
    margin-bottom: 1rem;
}

.advantage .adv-divs h3{
    color: #AB1313;
    font-size: 1.8rem;
    margin-bottom: .8rem;
}

.advantage .adv-divs p{
    color: #F6F3F3;
    font-size: 1.2rem;
}

.dskt-testimony{
    position: relative;
    height: 27rem;    
}

.divs-testimony{
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    gap: .8rem;

    margin-top: 1.2rem;
}

.dsktImg img{
    margin-left: 1rem
}

.divs-testimony p{
    font-size: 1.8rem;
    margin-left: 1rem;
    font-style: italic;
}

.divs-testimony span{
    font-size: 1.8rem;
    font-weight: bold;
    margin: 1rem 1rem;
}


.dskt-txt{
    display: flex;
    flex-direction: column;
}

.selected{
    opacity: 1;
}

#contact{
    grid-area: footer;
    background: #1F1F1F;
    height: auto;
}

.uno{
    display: flex;
}


.text-footer h1{
    color: #F6F3F3;
    font-size: 3.8rem;
    margin: 1.8rem;
    width: 55rem;
}

.text-footer p{
    color: #F6F3F3;
    font-size: 1.6rem;
    margin-left: 1.8rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 53rem;
    margin-top: 1.8rem;
}

.inputs input{
    width: 100%;
    height: 4rem;
    margin-bottom: .3rem;
    padding: 1rem;
}

.inputs #btn-cadastro_{
    color: #F6F3F3;
    background: #058a01;
    width: 15rem;
    height: 4rem;
    border: none;
    position: relative;
    margin: 2rem 0;
    cursor: pointer;
}

form .inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    margin-right: 1rem;
}


.social-media{
    background: #161616;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5rem;
}

.social-media ul li{
    display: inline;
    margin: 0 1rem;
}





/*responsivo*/
@media (max-width: 945px) {
    
    header{
        grid-area: header;
        background: black;
    
        height: 65rem;
        background: url('./img/banner1.png') no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }

    #menu {
        position: relative;
        height:5rem;
        background: #000;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu #listMenu{        
        display: block;
        position: absolute;
        top: 5rem;
        right: 0;

        height: 0;
        width: 100%;

        z-index: 100;

        background: #000;

        visibility: hidden;
        overflow-y: hidden;

        transition: 1s;
    }

    #menu.actived #listMenu{
        visibility: visible;
        height: 100vh;
        
        transition: 1s;
    }

    #btnMenu{
        margin-right: 1rem;
        cursor: pointer;
    }

    #btnMenu {
        display: flex;
        background: transparent;
        color: #F6F3F3;
        border: none;
    }

    #menu #listMenu li{
        display: flex;
        justify-content: center;
        padding: 5rem 0;

        font-size: 2rem;
    }

    #listMenu li:hover{
        color: #1899e4;
    }

    #listMenu a{
        text-decoration: none;
        list-style: none;

        color: #F6F3F3;
    }

    

    #hamburguer{
        width: 2rem;
        border-top: .2rem solid;
    }

    #hamburguer::after,
    #hamburguer::before{
        content: '';
        width: 2rem;
        height: 2px;
        display: block;
        background: #F6F3F3;
        margin-top: 3px;
        position: relative;
        transition: .5s;
    }

    #menu.actived #hamburguer{
        border-top-color: transparent;
        transition: .5s;
    }

    #menu.actived #hamburguer::after{
        transform: rotate(45deg);
    }

    #menu.actived #hamburguer::before{
        transform: rotate(-45deg);
        top: .4rem;

        transition: .5s;
    }

    #text {
        border-radius: 5px;
        width: 35rem;
        height: 20rem;
        margin: 5rem 0 0 1rem;
        background: rgba(235, 235, 235, 0.1);
        backdrop-filter: blur(5px);

        padding: 2.5rem .5rem;
    }

    #text h1{
        color: #F6F3F3;
        font-size: 2.6rem;
        margin-bottom: 1rem;
    }

    #text span{
        color: red;
    }

    #text p{
        color: #F6F3F3;
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }

    #text #btn-cadastro{
        position: relative;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);

        padding: 1rem;

        width: auto;
        height: 3rem;
        background: #058a01;

        border: none;
    }

    #text #btn-cadastro:active{
        background: #023a00;
        border-bottom: solid .3rem #011a00;
    }

    #text #btn-cadastro a{
        text-decoration: none;
        color: #F6F3F3;
    }

    /*campo about */
    main{
        grid-area: main;
        display: flex;
        flex-direction: column;
    }

    #about {
        height: auto;
        background: #F6F3F3;

        display: flex;
        flex-direction: column ;
    }

    #text-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 .5rem;
    }

    #about #text-about h3{
        font-size: 2.6rem;
        margin: 1rem 1rem;
    }

    #about #text-about p{
        font-size: 1.5rem;
    }

    #advantage{
        display: flex;
        flex-direction: column;
    }

    .advantage .advantage-divs{
        background: #1F1F1F;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 1rem 1rem;
        margin-bottom: .1rem;
    }

    .advantage .advantage-divs img{
        margin-bottom: 1rem;
    }

    .advantage .advantage-divs h3{
        color: #AB1313;
        font-size: 1.5rem;
        margin-bottom: .5rem;
        font-weight: bold;
    }

    .advantage .advantage-divs p{
        color:#F6F3F3;
        font-size: 1.2rem;
        font-weight: normal;
    }

    .testimony{
        position: relative;
        height: 40rem;
    }

    .divs-testimony{
        opacity: 0;
        transition: .5s;
        position: absolute;
        height: auto;
        margin-top: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divs-testimony p{
        font-size: 1.4rem;
        font-style: italic;
        padding: 1rem 1rem;
    }

    .divs-testimony span{
        margin: 1rem 2rem;
        font-size: 1.4rem;
        font-weight: bold;
    }

    .dskt-txt{
        display: flex;
        flex-direction: column;
    }

    .selected {
        transition: .5s;
        opacity: 1;
    }

    footer{
        grid-area: footer;
        background: #1F1F1F;
    }


    .uno{
        display: flex;
        flex-direction: column;
    }
    
    #text-footer{
        font-size: 1.2rem;
        color: #F6F3F3;
        padding: 1rem;
        margin-bottom: 1.5rem;
    }

    #text-footer h1 {
        margin-bottom: 1rem;
        font-size: 2.8rem;
        width: auto;
    }

    #text-footer span{
        color: #AB1313;
    }

    #inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 .5rem;
        width: auto;
    }

    #inputs input {
        width: 100%;
        height: 4rem;
        margin-bottom: .3rem;
        padding: 1rem;
    }

    #inputs #btn-cadastro_{
        width: 12rem;
        height: 3rem;
        background: #17A001;
        color: #F6F3F3;
        border: none;
        
    }
    
    #inputs #btn-cadastro:active{
        background: #0a4b00;
    }

    .social-media{
        background: #161616;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 5rem;
    }

    .social-media ul li{
        display: inline;
        margin: 0 1rem;
    }
}
